

<div class="text-center">
    <div>
        <a asp-action="Info" asp-route-id="1">Tank 1</a><br />
        <a asp-action="Info" asp-route-id="2">Tank 2</a><br />
        <a asp-action="Info" asp-route-id="3">Tank 3</a><br />
    </div>
    
</div>
