@using LevelsTables.Models.Tables
@using System.Collections.Generic;

@model List<Station>

<div class="row">
    @for (int i = 0; i < 10; i++)
    {

        <div class="col-md-6 col-lg-3" style="margin: 15px 0px;">
            <table class="tg" style="">
            <tbody style="vertical-align: middle; text-align:center;">
                <tr>
                    <td class="" style="width: min-content" colspan="4">Селище dssdfsdf dsfsdfsdfs fdsfdsfsdf sdfsdfsdfsd dsfsdfsdf</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td class="hdr" style="font-weight: bold;">Дизель</td>
                    <td class="hdr">каса</td>
                    <td class="hdr">по-факту</td>
                    <td class="hdr">Дата приходу</td>
                </tr>
                <tr>
                    <td class="">бочка 1</td>
                    <td class="" rowspan="2">10000</td>
                    <td class="">6000</td>
                    <td class="" rowspan="2">10.12.24</td>
                </tr>
                <tr>
                    <td class="">бочка 2</td>
                    <td class="">4000</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td class="hdr" style="font-weight: bold;">Бензин</td>
                    <td class="hdr">каса</td>
                    <td class="hdr">по-факту</td>
                    <td class="hdr">Дата приходу</td>
                </tr>
                <tr>
                    <td class="">бочка 1</td>
                    <td class="">4000</td>
                    <td class="">4000</td>
                    <td class="">23.9.24</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td class="hdr" style="font-weight: bold;">Газ</td>
                    <td class="hdr">каса</td>
                    <td class="hdr">по-факту</td>
                    <td class="hdr">Дата приходу</td>
                </tr>
                <tr>
                    <td class="">бочка 1</td>
                    <td class="" rowspan="2">15000</td>
                    <td class="">7000</td>
                    <td class="" rowspan="2">11.5.24</td>
                </tr>
                <tr>
                    <td class="">бочка 2</td>
                    <td class="">8000</td>
                </tr>
            </tbody>
        </table>
    </div>
    }
</div>